.imageNft{
    height: 300px;

    width: 100%;
    object-fit: cover;

}


@media screen and (max-width: 576px) {
    
    .containerNftImages{
        grid-template-columns: repeat(auto , minmax(200px , 1fr));
    }
    .wrapperImageNft{
        display: grid;
        width: 100%;
        grid-template-columns: minmax(200px , 1fr);
        background: red;
    }
}
