.background_image{
    background-image: url("../assets/images//redirectWeb3mage/BlackImage.avif");
    width: 100%;
    min-height: 100vh;
    background-size: cover;
}


@media only screen and (min-width: 1280px){
    .wrapper_content_web3{
        padding: 0 10rem;
    }
}
.wrapper_content_web3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.content_wrapper_left, .content_wrapper_right{
    padding: 1rem;
}
