.header_title{
    /* margin-left: auto; */
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    align-items: center;
    background-color: dimgray;
}


/* track this one */
/* .header_search_wrapper{
    margin-left: auto;
    position: relative;

} */
.header_search_wrapper{
    margin-left: auto;
    position: relative;

}



@media screen and (max-width:768px) {
    .header{
        padding: 2rem 1rem;
        /* display: grid;
        grid-template-columns: 1fr 1fr; */

    }
    .header_title{
        margin-left: 0;
    }
    .header_search_wrapper{
        /* order: 1; */
    
    }


}

@media screen and (max-width: 400px) {
    .header_search_wrapper{
        .wrapper_search_box{
            width: 150px;
        }
    }
}


@media screen and (min-width: 769px) {
    .header_search_wrapper{
        display: none;
    }
}


