.inputForm{
    font-size: medium
}

.wrapper_SignForm{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 400px;
    margin: 0 auto;
    max-width: 500px;
}


