:root{
    --inputColor : #000000;
}

input{
    color: #000000;

}
input , input::placeholder {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.input_email{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0em 0.3em;
    color: var(--inputColor);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.input_email::placeholder{
    color:#000000;
}

.input_email:focus{
    outline: none;
}

.font_size {
    font-size: 1.5rem;
}

