.Left_form{
    margin-top: 2rem;
}

.Left_form>input::placeholder,
.Left_form>section input::placeholder,
.Left_form>textarea::placeholder,
.Left_form>div input::placeholder
 {
    color: #9c9c9c;
    font-size: 1.3rem;
}

.Left_form>textarea:hover {
    outline: none;
    border: none;

}

.Left_form>section {
    display: flex;
    gap: 20px;
}

.Left_form>input , .Left_form > textarea ,.Left_form>section input, .Left_form>div input{
    width: 100%;
    outline: none;
    border-bottom: 1px solid #9c9c9c;
    padding: 0.1rem;
}

.Left_form>div input[type="checkbox"]{
    width: auto;
}

.Left_form > textarea:hover{
    border-bottom: 1px solid #9c9c9c;
}



.Left_form_Input{
   /* margin-bottom: 1.5rem; */
    min-width: 100px;
}

.Left_form> div > input[type="checkbox"]:hover {
    cursor: pointer;

}

.Left_form>button {
    border: 1px solid;
    width: fit-content;
    padding: 0.2rem;

}



.Wrapper{
    padding: 10rem 5rem 7rem;
    width: 50%;
}

.Contents_Wrapper_Content{
    font-size: 1.3em;
    
}

.Contents_Wrapper_Content > p ,
.Contents_Wrapper_Content > div > p
{
    line-height: 1.8;
}

.content_Header{
    font-size: 1.8rem;
}

.wrapper_content_icon{
    flex-direction: column;
    flex-wrap: wrap;
}

.Left_Contents_Wrapper{
    flex-direction: row;
    
}

.form_input_name{
    margin-bottom: 1.5rem;
}

.Left_form > div input, .Left_form > input, .Left_form_Input  {
    margin-bottom: 1.5rem;
}
.Left_form > div input[type= "checkbox" ] {
    margin: 0;
}

@media screen and (min-width: 999px ) {
    .wrapperMap{
        position: fixed;
        width: 50%;
        right: 0;
        min-height: 100vh;
    }
}
@media screen and (max-width:998px ) {
    .Wrapper{
        width: auto;
    }
    .wrapperContact{
        display: flex;
        flex-direction: column;
    }
    .wrapperMap{
        position: static;
    }
}

@media screen and (max-width:576px ) {
    .Wrapper{
        padding: 6rem 2rem;
    }
    .wrapperContact, .Left_Contents_Wrapper{
        /* display: flex; */
        flex-direction: column;
    }
    .wrapperMap{
        position: static;
        height: 500px;
        margin: 2rem;
    }
    .wrapper_content_icon{
        flex-direction: row;
    }
    .form_input_name{
        flex-wrap: wrap;
    }
}