.inputForm{
    font-size: 1.1rem;
}

.wrapper_SignForm{
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    width: 400px;
    margin: 0 auto;
    max-width: 500px;
}

.SignForm_input_wrapper {
    border-bottom: 5px solid red;
} 

.SignForm_input_wrapper_deactive{
    border-bottom: none;
}


@media screen and (max-width: 576px) {
    .wrapper_SignForm{
        max-width: 400px;
        margin: 0 1.2rem;

    }
}


