.image_changing {
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.image_changing:hover {
    transition: transform 0.5s ease;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.wrapper_Featured_content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
}

.featured_title {
    font-size: clamp(1.5rem, 4vw, 4rem);
}

/* THIS IS THE LEFT PART  */

.left {}

.left_image_container {
    font-size: clamp(1.3rem, 2vw, 1.7rem);
    position: sticky;
    top: 80px;
}

.left_image_container>img {
    width: 100%;


}

.header__image {
    background-image: url("../assets/images/redirectVoices-images/HeaderImageVoices.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* THIS IS THE RIGHT PART */

.right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;

}

.right_image_container {
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    width: 100%;
    height: auto;

}

.right_image_container>img {
    width: 100%;
}


/* this is for essays part */

.wrapperEssays_picContent {}

.essays_pic_content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 50px;
}

.pic_content_left>img {
    width: 100%;

}

.pic_content_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;

}

.pic_content_right>section {
    font-size: 1.2rem;
}

.right_rightSide {
    display: grid;
}


.right_leftSide>section>img,
.right_rightSide>section>img {

    display: block;
    width: 100%;

}


.lef_content_imageSticky {
    position: sticky;
    top: 80px;
}

.left_image_container>img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}


.imageStickyImg {

    width: 100%;
    object-fit: cover;
    height: 500px;
}


.h2_title {
    font-size: clamp(2rem, 10vw, 15rem);
}

/* This is for media Queries */

@media screen and (max-width: 1222px) {

    .wrapper_Featured_content,
    .essays_pic_content {


        grid-template-columns: auto;
    }

    .essays_pic_content {
        /* pad */
    }

    .left_image_container {
        margin-bottom: 2rem;
    }

}

@media screen and (max-width: 1200px) {

    .left_image_container>img {
        width: 100%;
        object-fit: cover;
        height: 500px;
    }
}

@media screen and (max-width: 992px) {}

@media screen and (max-width : 768px) {
    .h2_title {
        margin: 0 auto;
    }
}

@media screen and (min-width : 769px) {
    .h2_title {
        margin-left: 10rem;
    }
}

@media screen and (max-width : 548px) {

    .right,
    .pic_content_right {
        grid-template-columns: auto;
    }

    /* .imageStickyImg{
        min-width: none;
        max-width: none;
    } */
}

@media screen and (min-width: 1200px) {}


/* ESSAYS Section */