.mySwiper {
    position: relative;
    padding: 0 2rem;
}

.mySwiper .swiper-slide {
    height: auto;
    /* background: none; */
}

.mySwiper .swiper-slide img {
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {

    color: #000000;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-wrapper{
    background: #ffffff;
    max-width: 250px;
}

@media screen and (max-width: 576px) {
    .swiper-wrapper{
        max-width: 250px;
    }
    .second_slide_viewerz{
        padding-bottom: 10px;
    }
    .swiper-scrollbar{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 530px) {
    .mySwiper .swiper-slide img {
        height: 500px;
        width: 400px;
    }
}