* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {

} */

@layer components {
  #header {
    @apply fixed z-[100] top-0 left-0 right-0 py-[1rem] px-[2rem] flex justify-between flex-wrap items-center text-[1.3rem];
  }

  .Redirect_Artists_Aside {
    @apply transition-opacity fade-in fade-out;
  }

  .Redirect_Artists_Aside {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: top left;
    margin-left: 2rem;
  }

  .footer_Wrapper {
    @apply fixed z-10 w-full bottom-0 left-0;

    @media screen and (max-width:768px) {
      position: static;
    }
  }

  /* remove marginBottom in mobile  */

  #fixer {
    @media screen and (max-width :768px) {
      margin-bottom: 0;
    }
  }



  .footerHome {
    @apply bottom-0
  }

  #wrapper_product_image {
    @apply w-full;
  }

  #redirect_store {
    @apply grid gap-[30px] mx-8 mb-20 mt-6;
    

    grid-template-columns: repeat(3, minmax(100px, 1fr));

    @media screen and(max-width: 1400px) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    
    @media screen and (max-width: 1370px) {
      
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    
    @media screen and (max-width: 1099px) {
      grid-template-columns: repeat(1, minmax(100px, 400px));
      width: fit-content;
      /* padding-top: 2rem; */
      margin: 2rem auto;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(100px, 400px));
      margin: 2rem auto;
      padding: 0 1rem;
      /* width: fit-content; */
    }
   
    
    @media screen and (min-width: 1401px) {
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    
    
  }


  #redirect_store_product_wrapper{
    @media screen and (max-width: 768px) {
      margin-bottom: 6rem;
    }
  }
  
  /* ? wrapper map googleMap */
  @media screen and (max-width: 576px) {
    
    .mapContainer{
      height: 100% !important;
    }
  }

  #store_product_image {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;

  
      width: 100%;
      height: 300px;
      min-height: 100px;
      max-height: 300px;



}


  #Redirect_footer_Exhibitions {
    @apply grid justify-between gap-[50px] min-h-screen bg-[#171717] text-[#ffffff] px-12 py-20 items-start text-[1.4rem];


    /* @media screen and (min-width: 1401px) {
      padding: 8rem 6rem;
    } */
    @media screen and (max-width: 1400px) {
      /* padding: 8rem 6rem; */
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media screen and (max-width: 1200px) {
      padding: 5rem 2rem;
      /* gap: 0px; */
    }

    @media screen and (max-width: 992px) {

      padding: 5rem 2rem;
      font-size: 1.3rem;
    }

    @media screen and (max-width: 768px) {
      position: static;
      flex-direction: column;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 2rem 2rem;
    }

    @media screen and (min-width: 1400px) {
      padding: 8rem 6rem;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  /* redirect artists Header */


  .redirect_tailwdinCss {
    @apply mt-[5rem]
  }

  .redirect_tailwdinCss>a {
    @apply text-3xl
  }

  .wrapper__contents_tailwdind {
    @apply px-[2rem] relative z-30 pt-20
  }


  /* This is the styles for the redirect_Exhibitions_Artist Aside-Part!!! */
  .ListViewLists {
    @apply border-b-2 text-red-500
  }

  /* .GridView {
    @apply border-b-2
  }    */
}

/* this line is for the voices */


.wrapper_image_content {
  display: flex;
  gap: 0 0.5rem;
}

.image_content_voices {
  display: flex;
  background: #b5abab;
}

.mapContainer {
  height: 100vh;
}

.footerArtists {
  bottom: 0;
  left: 0;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
}


@layer utilities {

  /* this part is for the Aside of Exhibitions */
  .fade-in {
    opacity: 1;
    position: fixed;
    z-index: 80000;
    top: 50%;
    left: 0%;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
  }

  .fade-out {
    opacity: 0;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
  }
}

/* ? redirect store Navbar */

#showSearch {
  @apply absolute top-[100%] w-[100px] flex ;
}

#hideSearch {
  display: none;
}

/*  * redirect Store */






/* this is for the redirect part of nav */


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* 
.firsul_cls{
  height: 100vh;
  background-color: brown;
  position: absolute;
  right: 0;
  left: 0;
} */
.wrappri {
  display: flex;
}

@media only screen and (max-width : 1080px) {
  .wrappri {
    display: none;
  }
}

/* @media only screen and (min-width : 1080px){
  .wrappri2{
    display: none;
  }
 

} */

/* wrappriO */



@media only screen and (min-width : 1080px) {
  .show_hide {
    display: none;
  }

}

@media only screen and (max-width : 1080px) {
  .show_hide {
    display: flex;
    cursor: pointer;
  }

}


.firsul_cls {
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  /* flex-direction: column; */
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;


}

.secul_cls {}

.showClose {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 30px;
  font-size: 2.5rem;
  cursor: pointer;
  color: #ffffff;
}